<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt</key>
  <array>
    <string>A</string>
    <string>O</string>
    <string>Scedilla</string>
    <string>uni0162</string>
    <string>a</string>
    <string>o</string>
    <string>scedilla</string>
    <string>uni0163</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>uni0326</string>
    <string>acute</string>
    <string>breve</string>
    <string>caron</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>hungarumlaut</string>
    <string>macron</string>
    <string>ogonek</string>
    <string>ring</string>
    <string>tilde</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Scommaaccent</string>
    <string>uni021A</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>scommaaccent</string>
    <string>uni021B</string>
    <string>uni00B9</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni2074</string>
    <string>uni0326.case</string>
    <string>acute.case</string>
    <string>breve.case</string>
    <string>caron.case</string>
    <string>cedilla.case</string>
    <string>circumflex.case</string>
    <string>dieresis.case</string>
    <string>dotaccent.case</string>
    <string>grave.case</string>
    <string>hungarumlaut.case</string>
    <string>macron.case</string>
    <string>ogonek.case</string>
    <string>ring.case</string>
    <string>tilde.case</string>
  </array>
  <key>case</key>
  <array>
    <string>uni0326</string>
    <string>acute</string>
    <string>breve</string>
    <string>caron</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>hungarumlaut</string>
    <string>macron</string>
    <string>ogonek</string>
    <string>ring</string>
    <string>tilde</string>
  </array>
  <key>case2</key>
  <array>
    <string>uni0326.case</string>
    <string>acute.case</string>
    <string>breve.case</string>
    <string>caron.case</string>
    <string>cedilla.case</string>
    <string>circumflex.case</string>
    <string>dieresis.case</string>
    <string>dotaccent.case</string>
    <string>grave.case</string>
    <string>hungarumlaut.case</string>
    <string>macron.case</string>
    <string>ogonek.case</string>
    <string>ring.case</string>
    <string>tilde.case</string>
  </array>
  <key>ordn</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
</dict>
</plist>
